
<div fxLayout="row" fxLayoutAlign="center" class="mainDiv">
    <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
  
      <mat-card fxLayout="column" fxFlex="70" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-card-header fxLayout="row" class="4">
            <mat-card-title>Reset Password</mat-card-title>
          </mat-card-header>
        </div>
        <form [formGroup]="resetForm">
          <mat-card-content>
  
            <div>
  
              <div fxLayout="row" fxLayoutAlign="center">
  
                <mat-form-field appearance="outline">
                  <mat-label>password</mat-label>
                  <input matInput placeholder="Password" type="password" formControlName="password"
                  [(ngModel)]="resetUser.password" name="password" required>
                  <mat-icon matSuffix><img src="../../assets/outline-visibility_off-24px.svg">
                  </mat-icon>
  
                </mat-form-field>
              </div>
            </div>
  
            <div>
  
                <div fxLayout="row" fxLayoutAlign="center">
    
                  <mat-form-field appearance="outline">
                    <mat-label>COnfirm password</mat-label>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
                    [(ngModel)]="resetUser.confirmPassword" name="confirmPassword" required>
                    <mat-icon matSuffix><img src="../../assets/outline-visibility_off-24px.svg">
                    </mat-icon>
                    
                
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" id="reset" (click)="onReset()">Reset Password</button>
                    
                  </div>
                </mat-card-actions>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>